/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 50px; /* Para asegurarse de que el footer no se superponga */
}

/* Estilos del header y nav */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos del main */
main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form div {
    width: 100%;
}

form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #3498db;
    outline: none;
}

/* Botón de submit */
form button {
    background-color: #27ae60; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #2ecc71;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
