/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 50px; /* Para asegurarse de que el footer no se superponga */
}

/* Estilos del header y nav */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos del main */
main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2c3e50;
}

main p {
    font-size: 18px;
    color: #7f8c8d;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
